*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url("./static/media/dots.b81dabc0.png");
  min-height: 100vh;
  background-color: #171941;
  background-size: contain;
  width: 100%;
}

.App-logo {
  height: 3rem;
  pointer-events: none;
  margin: 0.5rem auto 0.5rem 0.5rem;
}

.App-header {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2rem);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filter {
  margin-right: 30px;
}
.filter-input {
  border-radius: 3px;
  height: 2rem;
  padding: 0 5px;
  font-size: 1rem;
}

.main__heading {
  font-size: 2rem;
  color: white;
  text-align: left;
  margin-left: 2vw;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.main {
  font-size: calc(15px + 1rem);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 8rem;
}

.MoviesContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto; */
  flex-wrap: wrap;
  /* column-gap: 30px;
  row-gap: 40px; */
}

.MovieCard {
  width: 20%;
  grid: span 4;
  min-width: 250px;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 1rem 1rem;
}

.MovieCard:hover {
  transform: scale(1.1);
}
.MovieCard-meta {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  background: rgba(31, 34, 95);
  width: 101%;
  height: 20%;
  opacity: 0;
  transition: all 0.3s;
  padding: 0.5rem;
  transform: translateY(25px);
}

.MovieCard-meta-col1 {
  /* border: 1px solid red; */
  display: grid;
  justify-content: space-between;
}

.MovieCard-meta-row2 {
  display: grid;
  /* justify-content: center; */
}
.MovieCard:hover .MovieCard-meta {
  translate: 0;
  opacity: 1;
  transform: translateX(-1px);
}

.MovieCard-image {
  width: 100%;
}

.title {
  color: #fd5d93;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 8px;
}

.category {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
  color: #ff8d72;
  justify-self: flex-start;
}

.rating-icon {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

rating-icon:hover .rating-svg {
  fill: white;
}
.rating-svg {
  margin-right: 5px;
}
